---
const { isAuthenticated, currentUser } = Astro.props;
---

<nav
  class="top-bar sticky-bar fixed left-0 right-0 top-0 z-50 flex w-full items-center justify-between bg-cinder px-6 py-3 shadow-md"
>
  {/* left side */}
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/latest">Latest</a>
    </li>
    {
      isAuthenticated && (
        <li>
          <a href="/submit">Submit a Link</a>
        </li>
      )
    }
  </ul>

  {/* right side */}
  <ul>
    {
      !isAuthenticated ? (
        <>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
          <li>
            <a href="/login" class="button">
              Login
            </a>
          </li>
        </>
      ) : (
        <>
          <li>
            <a href="/logout">Logout</a>
          </li>
          {currentUser?.nickname && (
            <li>
              <a href="/profile/[nickname]" class="button">
                My Profile
              </a>
            </li>
          )}
        </>
      )
    }
  </ul>
</nav>
